docs/src/node-red.txt
[{"id":"2af0b9c8.109496","type":"debug","z":"e24f712e.075fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":120,"wires":[]},{"id":"27a14f2f.a4e29","type":"function","z":"e24f712e.075fe","name":"f1","func":"\nvar tweet = msg.tweet;\nvar temp = global.get(\"temp\");\nmsg.payload = msg.tweet.user.screen_name;\n\n\n\n\nmsg.payload = '@' + msg.tweet.user.screen_name + \" A temperatura da sua casa é de: \" + temp;\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["2af0b9c8.109496","94c47b42.fbf168"]]},{"id":"94c47b42.fbf168","type":"twitter out","z":"e24f712e.075fe","twitter":"","name":"Tweet","x":690,"y":320,"wires":[]},{"id":"2c8c5c0a.c1f444","type":"twitter in","z":"e24f712e.075fe","twitter":"","tags":"#tempcasa","user":"false","name":"twitter","topic":"tweets","inputs":0,"x":80,"y":60,"wires":[["27a14f2f.a4e29"]]},{"id":"2ff2502f.49d67","type":"serial in","z":"e24f712e.075fe","name":"","serial":"7e508acf.4e14d4","x":190,"y":360,"wires":[["6583245d.f9991c"]]},{"id":"cb0626d8.d1d298","type":"debug","z":"e24f712e.075fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":360,"wires":[]},{"id":"6583245d.f9991c","type":"function","z":"e24f712e.075fe","name":"","func":"var valor = msg.payload;\n\nglobal.set = (\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["cb0626d8.d1d298"]]},{"id":"7e508acf.4e14d4","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]